[Unit]
Description=Vulnerability Report Service
After=network.target

[Service]
ExecStart=/usr/bin/vulnreport
Restart=no

[Install]
WantedBy=multi-user.target